<style>
h1{
font-size: 80px;
}

#image-Elon{
length: 500px;
width: 500px;
}

#outerlook1{
text-align: center;
}

#outerlook2{
text-align: center;
}

#outerlook3{
font-size: 20px;
font-family: cursive;
}
#outerlook4{
text-align: right;
}


</style>

